@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  /* Using the Deep Purple from your template design */
  background-color: #111;
  color: #ffffff; 
  overflow-x: hidden;
}

/* Custom CSS utilities for premium effects */
.glass-card {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}